<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sily.mapper.ForumArticleMapper">

    <update id="updateArticleCount">
        update forum_article
        <set>
            <if test="updateType==0">
                read_count=read_count+#{changeCount}
            </if>
            <if test="updateType==1">
                good_count=good_count+#{changeCount}
            </if>
            <if test="updateType==2">
                comment_count=comment_count+#{changeCount}
            </if>
        </set>
        where article_id = #{articleId}
    </update>
</mapper>